<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shixun.mapper.MovieRoleMapper">
	<resultMap type="com.shixun.entity.MovieRole" id="roleMap">
		<id column="role_id" property="roleId" jdbcType="BIGINT"/>
		<result column="role_name" property="roleName" jdbcType="VARCHAR"/>
		<result column="create_time" property="createTime" jdbcType="VARCHAR"/>
	</resultMap>
	
	<select id="selectRoleAll" resultMap="roleMap">
		select * from movie_role where role_name !='超级管理员'
	</select>
	
</mapper>